<!-- ============================================ -->
<!--                Featured Posts                -->
<!-- ============================================ -->

<div class="blog-sidebar">
    <!--Featured-->
        <span class="blog-header">Featured Posts</span>

    <div class="blog-sidebar-container ">
        {%- for post in collections.featured | reverse -%}
        <div class="blog-feature-container">
            <a class="blog-feature" href="{{ post.url }}">
                <picture class="blog-featureImage">
                    <img
                        src="{{ post.data.image }}" 
                        alt="{{ post.data.imageAlt }}"
                        decoding="async">
                </picture>
            </a>
            <a href="{{ post.url }}"><h3 class="feature-h3">{{ post.data.title }}</h3></a>
            <div class="content-group">
        
                
                <span id="blog-page-author">{{ post.data.author }}</span>
                <!-- <span class="feature-date">{{ post.date | postDate }}</span> -->
            </div>
        </div>
        {%- endfor -%}
    </div>
    <!--Add anything else in the sidebar below-->
</div>

