<section id="pricing" class="pt-md">
  <div class="content">
    <div class="cs-container">
      <div class="cs-wrapper">
        <ul class="cs-card-group">
          <!-- Essential Package -->
          <li id="essential" class="cs-item slide-in-left">
            <span class="cs-package cs-package-essential"
              >Essential Package</span
            >
            <div class="cs-item-container">
              <span style="color: var(--bodyTextColor)">$1200 down</span>
              <div class="cs-flex-wrapper">
                <span class="cs-price">$100</span>
                <span class="cs-frequency">/MO</span>
              </div>
              <ul class="cs-price-details">
                <li class="cs-item-text">
                  <i class="fa-solid fa-circle-check"></i>Includes 5 pages +
                  blog
                </li>
                <li class="cs-item-text">
                  <i class="fa-solid fa-circle-check"></i>Up to 1 Hour of
                  Content Updates/Month
                </li>
                <li class="cs-item-text">
                  <i class="fa-solid fa-circle-check"></i>On Page SEO
                </li>
                <li class="cs-item-text">
                  <i class="fa-solid fa-circle-check"></i>24/7 phone support
                </li>
                <!-- <li class="cs-item-text">
                  <i class="fa-solid fa-circle-check"></i>6 month minimum
                  contract
                </li> -->
              </ul>
              <a href="/contact" class="cs-button-solid cs-price-button"
                >CONTACT US</a
              >
            </div>
          </li>

          <!-- Standard Package -->
          <li class="cs-item-popular cs-popular slide-in-right">
            <span class="cs-package">Standard Package</span>
            <div class="cs-item-container-popular">
              <span style="color: var(--bodyTextColor)">$0 down</span>
              <div class="cs-flex-wrapper">
                <span class="cs-price">$200</span>
                <span class="cs-frequency">/MO</span>
              </div>
              <ul class="cs-price-details">
                <li class="cs-item-text-popular">
                  <i class="fa-solid fa-circle-check"></i>
                  <p>Everything in <strong>Essential Package</strong> and...</p>
                </li>
                <li class="cs-item-text-popular">
                  <i class="fa-solid fa-circle-check"></i>Up to 2 Hours of
                  Content Updates/Month
                </li>
                <li class="cs-item-text-popular">
                  <i class="fa-solid fa-circle-check"></i>25% Off Add-ons
                </li>
                <!-- <li class="cs-item-text-popular">
                  <i class="fa-solid fa-circle-check"></i>Priority Phone Support
                  (24-Hour Response Time)
                </li> -->
                <!-- <li class="cs-item-text-popular">
                  <i class="fa-solid fa-circle-check"></i>6 month minimum
                  contract
                </li> -->
              </ul>
              <a href="/contact" class="cs-button-solid cs-price-button"
                >CONTACT US</a
              >
            </div>
          </li>

          <!-- Add-ons -->
          <li id="add-ons" class="cs-item slide-in-left">
            <span class="cs-package cs-package-add-on">Add-ons</span>
            <div class="cs-item-container">
              <span style="color: var(--bodyTextColor); margin-top: 0.5rem"
                >Tailored Solutions</span
              >
              <div class="cs-flex-wrapper">
                <span
                  class="cs-price"
                  style="
                    margin-top: 0.15rem;
                    font-size: 1.5em;
                    font-weight: bold;
                  "
                  >Custom Prices</span
                >
              </div>
              <ul class="cs-price-details">
                <li class="cs-item-text">
                  <i class="fa-solid fa-plus"></i>
                  <p>
                    <strong>$100/ea</strong> page of copy or per 500 characters
                  </p>
                </li>
                <li class="cs-item-text">
                  <i class="fa-solid fa-plus"></i>
                  <p><strong>$100/ea</strong> hour of content updates</p>
                </li>
                <!-- <li class="cs-item-text">
                  <i class="fa-solid fa-plus"></i>
                  <p>
                    <span><strong>$50/mo </strong></span> Priority Phone Support
                    (Same-Day Response Time)
                  </p>
                </li> -->
                <li class="cs-item-text">
                  <i class="fa-solid fa-plus"></i>
                  <p><strong>$100</strong> for each additional page</p>
                </li>
              </ul>
              <a href="/contact" class="cs-button-solid cs-price-button"
                >CONTACT US</a
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
