---
title: 'Post | Lucid Web Designs'
layout: "layouts/base.html"
---

{% block head %}
    <link rel="stylesheet" href="/assets/css/blog.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->
    <div class="fixed-bg-container">
        <div class="bg-overlay">
            <div class="fixed-background"></div>
        </div>
    </div>
    <h1 class="page-header-title">Blog</h1>

    <!-- ============================================ -->
    <!--              Main Blog Content               -->
    <!-- ============================================ -->
 <section class="top-section white-bg">
        <div class="content pt-md pb-lg">
    <div class="blog-container main-content-wrapper">
        <!--Main content -->
        <div class="main-content">
            <!-- ============================================ -->
            <!--                  Blog Article                -->
            <!-- ============================================ -->

            <article class="blog-article">
                <!--Main Article Image-->
                <picture class="">
                    <img src="{{ image }}" alt="{{ imageAlt }}" width="795" height="400" decoding="async"/>
                </picture>

                <!--Article Info-->
                <div class="">
                    <h1 class="">{{ title }}</h1>
                    <div class="">
                        <!--Author Image-->
                        <!-- <picture class="blog-author-img">
                            <img
                            src="/assets/svgs/profile.svg"
                            alt="house"
                            width="32"
                            height="32"
                            decoding="async">
                        </picture> -->
                        <span class="">{{ author }}</span>
                        <span aria-hidden="true" class=""></span>
                        <!--Blog Date-->
                        <span class="">{{ date | postDate }}</span>
                    </div>
                </div>

                
                <section id="">
                    {{ content | safe }}
                </section>
            </article>
        </div>
        <!-- End .main-content -->

        {% include 'components/featured-post.html' %}
    </div>
     </div>
    </section>
{% endblock %}