/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/
/* test */
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #pricing strong {
    color: var(--primary);
    font-size: 1.15em;
  }
  #add-ons ul {
    margin: 0.75em 0.5em;
  }
  #essential ul {
    margin: 0.5em;
  }
  .cs-item-popular ul {
    margin: 1em 0.5em;
    gap: 2em;
  }
  .cs-price-details {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  #pricing {
    padding-bottom: 10vw;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  #pricing .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  #pricing .cs-content {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  #pricing .cs-flex {
    display: flex;
    flex-direction: column;
  }
  #pricing .cs-title {
    margin: 0;
  }
  #pricing .cs-wrapper {
    width: 100%;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #pricing .cs-ul {
    width: 100%;
    margin: 1.5rem 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
  #pricing .cs-icon {
    width: 1.125rem;
    height: auto;
    display: block;
  }
  #pricing .cs-card-group {
    gap: 2em;
    width: 100%;
    max-width: 60rem;
    margin: 0 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #pricing .cs-item {
    width: 80%;
    /* padding: clamp(2rem, 2vw, 2.5rem) clamp(1rem, 1.5vw, 2rem); */
    /* background-color: rgba(255,255,255,1); */
    background: var(--item-bg);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    max-width: 300px;
    margin: 1.5rem 0;
    box-shadow: var(--neomorph);
    /* border: 1px solid rgba(0,0,0,.15); */
    overflow: hidden;
  }
  #pricing .cs-item-popular {
    width: 100%;
    background: var(--item-bg);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    max-width: 330px;
    margin: 1.5rem 0;
    box-shadow: var(--neomorph), 0px 0px 20px var(--primary);
    z-index: 1;
    font-size: 1.1em;
    overflow: hidden;
  }
  #pricing .cs-item-container {
    padding: 0 clamp(2rem, 2vw, 2.5rem) clamp(1rem, 1.5vw, 2rem);
  }
  #pricing .cs-item-container-popular {
    padding: 0 clamp(2.2rem, 2.2vw, 2.75rem) clamp(1.1rem, 1.65vw, 2.2rem);
  }
  #pricing .cs-item .cs-price,
  #pricing .cs-item-popular .cs-price,
  #pricing .cs-item .cs-frequency,
  #pricing .cs-item-popular .cs-frequency {
    color: var(--primary);
  }
  #pricing .cs-item-popular .cs-price {
    font-size: 3.5em;
  }
  #pricing .cs-package {
    /* font-size: 1rem; */
    /* font-weight: 400; */
    line-height: 1.2em;
    text-align: inherit;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
    /* color: var(--bodyTextColor); */
    display: block;
  }
  #pricing .cs-flex-wrapper {
    width: 100%;
    margin: 0 0 1rem 0;
    padding: 0 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    z-index: 1;
  }

  #pricing .cs-price {
    font-size: 3em;
    font-weight: 400;
    line-height: 1em;
    text-align: inherit;
    margin: 0;
    color: var(--placeholderColor);
  }
  #pricing .cs-item .cs-frequency {
    font-size: 1.3rem;
  }
  #pricing .cs-item-popular .cs-frequency {
    font-size: 1.65rem;
  }
  #pricing .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: inherit;
    margin: 0 0 auto;
    color: var(--bodyTextColor);
  }
  .cs-item-text-popular {
    font-size: 1.15rem;
    color: var(--bodyTextColor);
  }
  .cs-item-header {
    color: var(--titleTextColor);
  }
  #pricing .cs-button-solid {
    margin-top: 2rem;
  }
  #pricing .cs-dark {
    display: none;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 62rem) {
  #pricing .content {
    padding-left: 3vw;
    padding-right: 3vw;
  }
  #pricing .cs-container {
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #pricing .cs-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  #pricing .cs-ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
  }
  #pricing .cs-card-group {
    gap: 0;
    flex-direction: row;
    width: 100%;
    max-width: 60rem;
    align-items: center;
  }

  #pricing .cs-item.cs-popular {
    margin: 0;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #pricing .cs-ul {
    width: 30%;
    display: flex;
  }
  #pricing .cs-wrapper {
    flex-direction: row;
    gap: 1.25rem;
  }
  #pricing .cs-card-group {
    margin: 0;
    justify-content: center;
  }
}
.cs-item-text i,
.cs-item-text-popular i {
  color: var(--primary);
  margin-right: 0.75em;
  align-self: center;
}
#add-ons i {
  /* color:  #fff399; */
  color: var(--primary);
  font-size: 1.25rem;
  font-weight: bold;
  /* text-shadow: 0px 0px 2px black; */
}
#add-ons {
  background-color: black;
}

.cs-item-text,
.cs-item-text-popular {
  display: flex;
  color: var(--bodyTextColor);
}

/* General Styling for cs-package */
.cs-package {
  font-size: 0.9rem;
  /* letter-spacing: .05rem;  */
  font-weight: 700;
  line-height: 1.4em;
  text-align: center;
  text-transform: uppercase;
  /* margin: 0 0 1rem 0; */
  padding: 0.75rem;
  /* border-radius: 8px; */
  display: block;
  /* transition: background-color 0.3s ease, color 0.3s ease; */
  border-bottom: 1px solid rgba(0, 157, 255, 0.3);
  width: 100%;
}

/* Specific Styling for Popular Package */
.cs-item-popular .cs-package {
  background: linear-gradient(125deg, #aeff0045, #00ff447c);
  /* color: white; */
  color: var(--primary);
  font-size: 1rem;
  font-weight: 900;
  /* animation: pulse 2s infinite; */
}

.cs-package-add-on {
  background: linear-gradient(125deg, #24e5ff, #0084ff);

  /* background: linear-gradient(to right, #fff6af, #ffee6d); */
  /* color: black; */
  color: white;
  /* text-shadow: 1px 0px 3px black; */
  font-size: 1rem;
  font-weight: 900;
}

.cs-package-essential {
  /* background: linear-gradient(to left, #2a2a2a, #8f8f8f); */
  background: linear-gradient(125deg, #24e5ff, #0084ff);
  color: white;
  font-size: 1rem;
  font-weight: 900;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 10px rgba(0, 157, 255, 0.7);
  }
  70% {
    box-shadow: 0 10px 10px rgba(0, 157, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 10px rgba(0, 157, 255, 0.7);
  }
}
/* Centering cs-package */
.cs-package {
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1.4em;
  text-align: center;
  text-transform: uppercase;
  padding: 0.75rem;
  display: block;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-bottom: 1px solid rgba(0, 157, 255, 0.3);
  width: 100%;
  box-sizing: border-box;
}

/* Centering button within cs-item */
#pricing .cs-item,
#pricing .cs-item-popular {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; /* Center children horizontally */
  text-align: center; /* Center text */
  border-radius: 8px;
  margin: 1.5rem 0;
  box-shadow: var(--neomorph);
  /* border: 1px solid rgba(0,0,0,.15); */
  overflow: hidden;
  letter-spacing: 0.04em;
}
#pricing .cs-item-popular {
  box-shadow: 6px 0px 9px rgba(0, 0, 0, 0.2), -6px 0px 9px rgba(0, 0, 0, 0.2);
}

#pricing .cs-item-container,
#pricing .cs-item-container-popular {
  padding: 0 clamp(1rem, 1vw, 1.25rem) clamp(2rem, 2vw, 2.5rem);
  display: flex;
  flex-direction: column;
  align-items: center; /* Center contents inside the container */
}
.standard-discount {
  line-height: 0.35;
  color: var(--bodyTextColor);
  margin-left: 3em;
  margin-top: 1en;
  font-size: 1rem;
}
.cs-item-text strong,
.cs-item-text-popular strong {
  /* color: var(--primary); */
  color: var(--bodyTextColor);
}
