/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/
/* test */
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  .cs-price-details {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  #pricing {
    padding-bottom: 10vw;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  #pricing .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  #pricing .cs-content {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  #pricing .cs-flex {
    display: flex;
    flex-direction: column;
  }
  #pricing .cs-title {
    margin: 0;
  }
  #pricing .cs-wrapper {
    width: 100%;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #pricing .cs-ul {
    width: 100%;
    margin: 1.5rem 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
  #pricing .cs-icon {
    width: 1.125rem;
    height: auto;
    display: block;
  }
  #pricing .cs-card-group {
    gap: 2em;
    width: 100%;
    max-width: 60rem;
    margin: 3rem 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #pricing .cs-item {
    width: 80%;
    padding: clamp(2rem, 2vw, 2.5rem) clamp(1rem, 1.5vw, 2rem);
    /* background-color: rgba(255,255,255,1); */
    background: var(--item-bg);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    max-width: 300px;
    margin: 1.5rem 0;
    box-shadow: var(--neomorph);
    border: 1px solid rgba(0,0,0,.15);
  }
    #pricing .cs-item-popular {
    width: 100%;
    padding: clamp(2.2rem, 2.2vw, 2.75rem) clamp(1.1rem, 1.65vw, 2.2rem);
    /* background-color: rgba(255,255,255,1); */
    background: var(--item-bg);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    max-width: 330px;
    margin: 1.5rem 0;
    box-shadow: var(--neomorph), 0px 0px 20px var(--primary);
    border: 1px solid rgba(0,0,0,.15);
    z-index: 1;
    font-size: 1.1em;
  }
  #pricing .cs-item .cs-price,
  #pricing .cs-item-popular .cs-price,
  #pricing .cs-item .cs-frequency,
  #pricing .cs-item-popular .cs-frequency {
    color: var(--primary);
  }
  #pricing .cs-item-popular .cs-price {
    font-size: 3.5em;
  }
  #pricing .cs-package {
    /* font-size: 1rem; */
    /* font-weight: 400; */
    line-height: 1.2em;
    text-align: inherit;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
    /* color: var(--bodyTextColor); */
    display: block;
  }
  #pricing .cs-flex-wrapper {
    width: 100%;
    margin: 0 0 1rem 0;
    padding: 0 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    z-index: 1;
  }

  #pricing .cs-price {
    font-size: 3em;
    font-weight: 400;
    line-height: 1em;
    text-align: inherit;
    margin: 0;
    color: var(--placeholderColor);
  }
  #pricing .cs-item  .cs-frequency {
    font-size: 1.3rem;
  }
    #pricing .cs-item-popular  .cs-frequency {
    font-size: 1.65rem;
  }
  #pricing .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: inherit;
    margin: 0 0 auto;
    color: var(--bodyTextColor);
  }
  .cs-item-text-popular {
    font-size: 1.15rem;
    color: var(--bodyTextColor);
  }
  .cs-item-header {
    color: var(--titleTextColor);
  }
  #pricing .cs-button-solid {
    margin: 2rem 0 0 0;
  }
  #pricing .cs-graphic {
    width: 100%;
    min-width: 120rem;
    height: auto;
    position: absolute;
    bottom: -1rem;
    left: 0rem;
    z-index: -1;
  }
  #pricing .cs-dark {
    display: none;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 60rem) {
  #pricing .cs-container {
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #pricing .cs-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  #pricing .cs-ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
  }
  #pricing .cs-card-group {
    gap: 0;
    flex-direction: row;
    width: 100%;
    max-width: 60rem;
    align-items: center;
  }

  #pricing .cs-item.cs-popular {
    margin: 0;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #pricing .cs-ul {
    width: 30%;
    display: flex;
  }
  #pricing .cs-wrapper {
    flex-direction: row;
    gap: 1.25rem;
  }
  #pricing .cs-card-group {
    margin: 0;
  }
  #pricing .cs-item {
    min-height: 25rem;
  }
}
.cs-item-text .fa-circle-check, .cs-item-text-popular .fa-circle-check {
  color: var(--primary);
  margin-right: .75em;
  align-self: center;
}

.cs-item-text, .cs-item-text-popular{
  display: flex;
  color: var(--bodyTextColor);
}

/* General Styling for cs-package */
.cs-package {
  font-size: .9rem;
  /* letter-spacing: .05rem;  */
  font-weight: 700;
  line-height: 1.4em;
  text-align: center;
  text-transform: uppercase;
  /* margin: 0 0 1rem 0; */
  background: linear-gradient(to right, #f5f5f5, #e0e0e0);
  padding: 0.5rem;
  border-radius: 8px;
  display: block;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: 1px solid rgba(0, 157, 255, .3);
  width: 100%;
}

/* Specific Styling for Popular Package */
.cs-item-popular .cs-package {
  background: linear-gradient(to right, #f5f5f5, #e0e0e0);
  font-size: 1rem;
  font-weight: 900;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 5px rgba(0, 157, 255, 0.7);
  }
  70% {
    box-shadow: 0 0 10px rgba(0, 157, 255, 1);
  }
  100% {
    box-shadow: 0 0 5px rgba(0, 157, 255, 0.7);
  }
}
