---
title: 'Blog | Lucid Web Designs'
description: 'Meta description for the page'
permalink: 'blog/'
eleventyNavigation:
    key: Blog
    order: 500
layout: "layouts/base.html"
---


{% block head %}
    <link rel="stylesheet" href="/assets/css/blog.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <div class="fixed-bg-container">
    <div class="bg-overlay">
        <div class="fixed-background"></div>
    </div>
    </div>
    <h1 class="page-header-title">Blog</h1>

    <!-- ============================================ -->
    <!--              Main Blog Content               -->
    <!-- ============================================ -->

    <section class="top-section white-bg">
        <div class="content pt-md pb-lg">
            {% if collections.post | length == 0 %}
                <h1>No Recent Posts</h1>
            {% else %}
            <ul role="list" class="articles__list flow">
            {%- for post in collections.post | reverse -%} 

            {%- endfor %}
                <li>
                    <article class="snippet">
                        <img
                        src="{{ post.data.image }}"
                        alt="{{ post.data.imageAlt }}"
                        class="snippet__image"
                        />
                        <h3 class="snippet__title">
                        <a href="{{ post.url }}">{{ post.data.title }}</a>
                        </h3>
                        <p class="snippet__body">
                        {{ post.data.description }}
                        </p>
                        <!-- <a href="/blog-post/" class="cs-button-solid" onclick="updateTitle('{{ post.data.title }}', event)">READ MORE</a> -->
                        <a href="{{ post.url }}" class="cs-button-solid">READ MORE</a>
                    </article>
                </li>
            {% endif %}
            </ul>
        </div>
    </section>
{% endblock %}

<!-- #################################################### -->
