---
title: 'Blog | Lucid Web Designs'
description: 'Meta description for the page'
permalink: 'blog/'
preloadImg: '/assets/images/womanbulb.png'
eleventyNavigation:
    key: Blog
    order: 500
layout: "layouts/base.html"
---

{% block head %}
    <link rel="stylesheet" href="/assets/css/page/blog.css">
    <link rel="stylesheet" href="/assets/css/page/blog-post.css">
    <link rel="stylesheet" href="/assets/css/page/index.css" />
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->


    <div class="bg-overlay">
        <h1 class="page-header-title content">BLOG</h1>
    </div>
    <!-- ============================================ -->
    <!--              Main Blog Content               -->
    <!-- ============================================ -->

    <section id="blog-page" class="blog-bg-color">
        <div class="blog-page-gradient-2">
    
        <div class="pt-md pb-lg">
            {% if collections.post | length == 0 %}
                <h1>No Recent Posts</h1>
            {% else %}
            <div class="blog-split">
                {% include 'components/featured-post.html' %}
                <ul role="list" class="blog-page__list">
                    {%- for post in collections.post | reverse -%} 
                    <li class="fade-in">
                        <article class="blog-page-snippet">
                            <img
                                src="{{ post.data.image }}"
                                alt="{{ post.data.imageAlt }}"
                                class="blog-page-snippet__image"
                            />
                            <h3 class="blog-page-snippet__title">{{ post.data.title }}</h3>
                            <span id="blog-page-author">{{ post.data.author }}</span>
                            <hr/>
                            <p class="blog-page-snippet__body">
                                {{ post.data.description }}
                            </p>
                            <a href="{{ post.url }}" class="cs-button-solid">READ MORE</a>
                        </article>
                    </li>
                    {%- endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        </div>
    </section>
{% endblock %}
