---
title: 'Blog | Lucid Web Designs'
description: 'Meta description for the page'
permalink: 'blog/'
eleventyNavigation:
    key: Blog
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/blog.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <div class="fixed-bg-container">
    <div class="bg-overlay">
        <div class="fixed-background"></div>
    </div>
    </div>
    <h1 class="page-header-title">Blog</h1>

    <!-- ============================================ -->
    <!--              Main Blog Content               -->
    <!-- ============================================ -->

    <section class="top-section white-bg">
        <div class="content pt-md pb-lg">
            {% if collections.post | length == 0 %}
                <h1>No Recent Posts</h1>
            {% else %}
            <ul role="list" class="articles__list flow">
            {%- for post in collections.post | reverse -%} 

            {%- endfor %}
                <li>
                    <article class="snippet">
                        <img
                        src="{{ post.data.image }}"
                        alt="{{ post.data.imageAlt }}"
                        class="snippet__image"
                        />
                        <h3 class="snippet__title">
                        <a href="{{ post.url }}">{{ post.data.title }}</a>
                        </h3>
                        <p class="snippet__body">
                        {{ post.data.description }}
                        </p>
                        <!-- <a href="/blog-post/" class="cs-button-solid" onclick="updateTitle('{{ post.data.title }}', event)">READ MORE</a> -->
                        <a href="{{ post.url }}" class="cs-button-solid">READ MORE</a>
                    </article>
                </li>
            {% endif %}
            </ul>
        </div>
    </section>
{% endblock %}

<!-- #################################################### -->
<!-- 
    <div class="blog-container main-content-wrapper">

        <div class="main-content">

            {% if collections.post | length == 0 %}
                <h1>No Recent Posts</h1>
            {% else %}
                {%- for post in collections.post | reverse -%}
                    <article class="recent-articles">

                        <picture class="blog-mainImage">
                            <img
                            src="{{ post.data.image }}"
                            alt="{{ post.data.imageAlt }}"
                            width="795"
                            height="400"
                            decoding="async"/>
                        </picture>

                        <div class="article-group">
                            <div class="blog-authorGroup">

                                <picture class="blog-author-img">
                                    <img
                                    src="/assets/svgs/profile.svg"
                                    alt="house"
                                    width="32"
                                    height="32"
                                    decoding="async"/>
                                </picture>
                                <span class="blog-author">{{ post.data.author }}</span>
                                <span aria-hidden="true" class="blog-dot"></span>

                                <span class="blog-date">{{ post.date | postDate }}</span>
                            </div>
                            <h2 class="blog-h1">
                                {{ post.data.title }}
                            </h2>
                            <p class="blog-desc">
                                {{ post.data.description }}
                            </p>
                            <a href="{{ post.url }}" class="blog-link">Continue Reading</a>
                        </div>
                    </article>
                {%- endfor -%}
            {% endif %}
        </div>

        {% include 'components/featured-post.html' %}
    </div>
{% endblock %} -->