---
title: Services | Lucid Web Designs
description: "Lucid Web Designs, based in Austin, TX, specializes in handcrafted, high-performance websites tailored for small businesses. With a focus on mobile-first design, seamless user experience, and optimized performance, we help you elevate your online presence. Get started today with affordable, custom web solutions starting at just $200/month."
permalink: "services/"
preloadImg: "/assets/images/bulb-abstract-bg.webp"
backgroundColor: "#ddf2f4"
background: "linear-gradient(270deg, #ddf2f4, rgba(255,255,235))"
eleventyNavigation:
  key: Services
  order: 3100
layout: "layouts/base.html"
---

{% block head %}
<link rel="stylesheet" href="/assets/css/section/pricing.css" />
<link rel="stylesheet" href="/assets/css/section/side-by-side.css" />
<link rel="stylesheet" href="/assets/css/section/services.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<div class="bg-overlay">
  <h1 class="page-header-title content">Services</h1>

  <!-- ============================================ -->
  <!--                 Side By Side                 -->
  <!-- ============================================ -->

  <section id="side-by-side" class="top-section slide-in-left pb-lg">
    <div id="services-page-top" class="content pb-sm">
      <div class="cs-container">
        <object
          class="cs-picture"
          data="../assets/images/codertoon.svg"
        ></object>
        <div class="cs-content">
          <h2 class="cs-title">Web Design & Development, Reimagined</h2>
          <p class="cs-text" style="color: var(--bodyTextColor)">
            We don’t use WordPress, frameworks, or page builders. Instead, we
            hand-code every line, giving us complete control over the design.
            This ensures your website is lightning fast, free from bloated or
            messy code.
          </p>
          <p class="cs-text" style="color: var(--bodyTextColor)">
            Hand-crafted websites outperform most WordPress sites and
            drag-and-drop builders, which can cost thousands. In the digital
            world, speed and precision make all the difference.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="side-by-side" class="slide-in-right pt-lg pb-lg">
  <div class="content pt-sm pb-lg">
    <div class="cs-container">
      <div class="cs-content">
        <h2 class="cs-title">
          SEO for
          <script>
            document.write(new Date().getFullYear());
          </script>
        </h2>
        <p class="cs-text">
          Promises of front-page Google results in 3 months? Beware. Unless
          you’ve been featured by The New York Times, it can take years to rank
          at the top.
        </p>
        <p class="cs-text">
          We offer cutting-edge SEO techniques for
          <script>
            document.write(new Date().getFullYear());
          </script>
          :
        </p>
        <ul class="cs-card-group">
          <li class="cs-li">
            <div class="cs-flex">
              <p>
                <span class="checkmark">&#x2713;</span> Content and Blogs
                Tailored by Keywords
              </p>
            </div>
          </li>
          <li class="cs-li">
            <div class="cs-flex">
              <p>
                <span class="checkmark">&#x2713;</span> Seamless Mobile-First
                Experience
              </p>
            </div>
          </li>
          <li class="cs-li">
            <div class="cs-flex">
              <p>
                <span class="checkmark">&#x2713;</span> Pristine Code for
                Enhanced Web Crawling
              </p>
            </div>
          </li>
          <li class="cs-li">
            <div class="cs-flex">
              <p>
                <span class="checkmark">&#x2713;</span> Responsive Design for
                All Devices
              </p>
            </div>
          </li>
        </ul>
      </div>
      <object class="cs-picture" data="../assets/images/seotune.svg"></object>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services" class="fade-in pt-lg pb-lg">
  <div class="content">
    <div class="cs-container">
      <div class="cs-content">
        <h2 class="cs-title">Lifetime Website Updates</h2>
        <p class="cs-text">
          Google frequently updates its search algorithm standards, and web
          accessibility guidelines evolve as well. With our service, your
          website receives lifetime updates to ensure it stays current and
          adapts to the latest changes. Always up-to-date, always optimized.
        </p>
        <a
          href="/contact/#faq"
          class="cs-button-solid"
          aria-label="learn more about us"
          >Learn More</a
        >
      </div>
      <div class="cs-wrapper">
        <ul class="cs-card-group">
          <li class="cs-item">
            <h3 class="cs-h3">
              <img
                class="cs-icon"
                aria-hidden="true"
                src="../assets/images/rotate-square.svg"
                alt="svg icon"
                width="37"
                height="29"
                loading="lazy"
                decoding="async"
              />
              Design Refresh
            </h3>
            <p class="cs-item-text">
              Want a fresh look? We’ll rebuild your website at no extra cost.
            </p>
          </li>
          <li class="cs-item">
            <h3 class="cs-h3">
              <img
                class="cs-icon"
                aria-hidden="true"
                src="../assets/images/wheelchair.svg"
                alt="svg icon"
                width="37"
                height="29"
                loading="lazy"
                decoding="async"
              />
              Accessible for All
            </h3>
            <p class="cs-item-text">
              Always compliant with the latest web accessibility standards.
            </p>
          </li>
          <li class="cs-item">
            <h3 class="cs-h3">
              <img
                class="cs-icon"
                aria-hidden="true"
                src="../assets/images/discover.svg"
                alt="svg icon"
                width="37"
                height="29"
                loading="lazy"
                decoding="async"
              />

              SEO Ready
            </h3>
            <p class="cs-item-text">
              Your website stays updated with Google’s search ranking
              guidelines.
            </p>
          </li>
          <li class="cs-item">
            <h3 class="cs-h3">
              <img
                class="cs-icon"
                aria-hidden="true"
                src="../assets/images/chart-user.svg"
                alt="svg icon"
                width="37"
                height="29"
                loading="lazy"
                decoding="async"
              />
              Business Profile Excellence
            </h3>
            <p class="cs-item-text">
              We optimize and manage your Google, Bing, and Yahoo business
              profiles.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                P R I C I N G                 -->
<!-- ============================================ -->

<div class="section-heading fade-in">
  <div class="icon">
    <img src="../../assets/images/bulb.svg" alt="Icon representing pricing" />
  </div>
</div>

<section id="pricing" class="pt-md">
  <div class="content">
    <div class="cs-container">
      <div class="cs-wrapper">
        <ul class="cs-card-group">
          <!-- Essential Package -->
          <li class="cs-item slide-in-left">
            <span class="cs-package cs-package-essential"
              >Essential Package</span
            >
            <div class="cs-item-container">
              <span style="color: var(--body-text-color)">$1200 down</span>
              <div class="cs-flex-wrapper">
                <span class="cs-price">$100</span>
                <span class="cs-frequency">/MO</span>
              </div>
              <ul class="cs-price-details">
                <li class="cs-item-text">
                  <i class="fa-solid fa-circle-check"></i>Includes 5 pages +
                  blog
                </li>
                <li class="cs-item-text">
                  <i class="fa-solid fa-circle-check"></i>Up to 1 Hour of
                  Content Updates/Month
                </li>
                <li class="cs-item-text">
                  <i class="fa-solid fa-circle-check"></i>On Page SEO
                </li>
                <li class="cs-item-text">
                  <i class="fa-solid fa-circle-check"></i>Email Support (48-Hour
                  Response Time)
                </li>
                <li class="cs-item-text">
                  <i class="fa-solid fa-circle-check"></i>6 month minimum
                  contract
                </li>
              </ul>
              <a href="/contact" class="cs-button-solid cs-price-button"
                >CONTACT US</a
              >
            </div>
          </li>

          <!-- Standard Package -->
          <li class="cs-item-popular cs-popular slide-in-right">
            <span class="cs-package">Standard Package</span>
            <div class="cs-item-container-popular">
              <span style="color: var(--bodyTextColor)">$0 down</span>
              <div class="cs-flex-wrapper">
                <span class="cs-price">$200</span>
                <span class="cs-frequency">/MO</span>
              </div>
              <ul class="cs-price-details">
                <li class="cs-item-text-popular">
                  <i class="fa-solid fa-circle-check"></i>
                  <p>Everything in <strong>Essential Package</strong> and..</p>
                </li>
                <li class="cs-item-text-popular">
                  <i class="fa-solid fa-circle-check"></i>Up to 2 Hours of
                  Content Updates/Month
                </li>
                <li class="cs-item-text-popular">
                  <i class="fa-solid fa-circle-check"></i>25% Off Add-ons
                </li>
                <li class="cs-item-text-popular">
                  <i class="fa-solid fa-circle-check"></i>Priority Phone Support
                  (24-Hour Response Time)
                </li>
                <li class="cs-item-text">
                  <i class="fa-solid fa-circle-check"></i>12 month minimum
                  contract
                </li>
              </ul>
              <a href="/contact" class="cs-button-solid cs-price-button"
                >CONTACT US</a
              >
            </div>
          </li>

          <!-- Add-ons -->
          <li id="add-ons" class="cs-item slide-in-left">
            <span class="cs-package cs-package-add-on">Add-ons</span>
            <div class="cs-item-container">
              <span style="color: var(--body-text-color); margin-top: 0.5rem"
                >Tailored Solutions</span
              >
              <div class="cs-flex-wrapper">
                <span
                  class="cs-price"
                  style="
                    margin-top: 0.15rem;
                    font-size: 1.5em;
                    font-weight: bold;
                  "
                  >Custom Pricing</span
                >
              </div>
              <ul class="cs-price-details">
                <li class="cs-item-text">
                  <i class="fa-solid fa-plus"></i>
                  <p>
                    <strong>$100/ea</strong> page of copy or per 500 characters
                  </p>
                </li>
                <li class="cs-item-text">
                  <i class="fa-solid fa-plus"></i>
                  <p><strong>$100/ea</strong> hour of content updates</p>
                </li>
                <li class="cs-item-text">
                  <i class="fa-solid fa-plus"></i>
                  <p>
                    <span><strong>$50/mo </strong></span> Priority Phone Support
                    (Same-Day Response Time)
                  </p>
                </li>
                <li class="cs-item-text">
                  <i class="fa-solid fa-plus"></i>
                  <p><strong>$100</strong> for each additional page</p>
                </li>
              </ul>
              <a href="/contact" class="cs-button-solid cs-price-button"
                >CONTACT US</a
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock %}
