/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #about-hero-image {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    margin: 2em auto 0;
    /* object-fit: contain; */
  }
  .cs-info {
    color: var(--titleTextColor);
  }
  .about-hero-image-container {
    /* border: 1px solid rgba(0,0,0,.1); */
    border-radius: 10%;
    box-shadow: inset var(--neomorph);
    margin: auto;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #about-hero-image {
    width: 420px;
    height: 420px;
  }
  .about-hero-image-container {
    width: 420px;
    height: 420px;
  }
}

@media only screen and (min-width: 100rem) {
  #about-hero-image {
    width: 500px;
    height: 500px;
  }
  .about-hero-image-container {
    width: 500px;
    height: 500px;
  }
}
#steps .cs-card-group {
  display: flex;
}
#steps .step {
  /* box-shadow: var(--neomorph); */
  padding: 5em;
  border-radius: 15px;
}