.btn {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  padding: 0.75em 1.75em;
  border-radius: 0.25em;
  align-self: start;
  justify-self: start;
}

.btn:focus {
  outline: 0.125em solid var(--clr-primary-400);
  outline-offset: 0.25em;
}

.btn--primary {
  background: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-700);
  border: 2px solid var(--clr-primary-400);
}

.btn--primary:hover,
.btn--primary:focus {
  background: var(--clr-primary-500);
  border-color: var(--clr-primary-500);
}

.btn--neutral {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
  font-weight: var(--fw-700);
  border: 2px solid var(--clr-neutral-900);
}

.btn--neutral:hover,
.btn--neutral:focus {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}

.articles__list {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  max-width: 1200px; /* Restrict max width for better alignment */
  margin: 0 auto;
  padding: 0;
  list-style: none;
  justify-content: center; /* Center content when there's only one post */
}

.articles__list li {
  list-style: none;
  flex: 1 1 300px; /* Allow flex items to grow, shrink, and have a base width */
  margin: 1em;
  max-width: 350px; /* Limit the maximum width of each post to prevent stretching */
}

.snippet {
  display: flex;
  flex-direction: column;
  gap: 1em;
  /* box-shadow: var(--item-box-shadow); */
  box-shadow: var(--neomorph);
  padding: 2em;
  border-radius: 15px;
  background-color: var(--clr-neutral-100);
  height: 100%; /* Ensure equal height for all snippets */
}

.snippet__body {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  color: black;
}

.snippet__image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
  aspect-ratio: 16 / 9;
}

.snippet__title {
  color: black;
  font-size: 1.25rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.snippet__title a {
  color: inherit;
  text-decoration: none;
}

.snippet__title a:hover,
.snippet__title a:focus {
  color: var(--primary);
}

.snippet .cs-button-solid {
  font-size: 0.8rem;
  align-self: flex-start;
  line-height:1rem;
  padding: 1em;
  margin: auto 0;
  margin-bottom: 0;
}


.article-title {
  font-size: var(--fs-700);
}
.blog-page-gradient-2 {
  background: rgb(2,0,36);
  background: linear-gradient(135deg, rgba(255,255,255,.0) 0%, rgba(255,255,255,.25) 0%, rgba(255,255,255,0) 30%);
}
#blog-page a:visited .feature-h3 {
  color: white;
}

#blog-post a:visited .feature-h3 {
  /* color: black; */
  color: var(--bodyTextColor)
  /* color: white; */
}
#blog-page a .feature-h3 {
  color: white;
}

#blog-post a .feature-h3 {
  color: var(--bodyTextColor)
}
/* styles specific for the blog page */

@media (max-width: 868px) {
  .blog-page-snippet {
    margin: auto;
    max-width: 500px;
    /* -webkit-box-shadow: 21px 21px 48px #2b5d99, -21px -21px 48px #3f87db;
    box-shadow: 21px 21px 48px #2b5d99, -21px -21px 48px #3f87db; */
    -webkit-box-shadow: var(--neomorph);
    box-shadow: var(--neomorph);
    padding: 1.5em 1em;
    border-radius: 20px;
  }
  .blog-page-snippet__image {
    width: 100%;
    object-fit: cover;
    max-height: 300px;
    border-radius: 10px;
  }
  .blog-page-snippet__title {
    font-size: 1.75rem;
    padding: 1em 0 .5em 0;
  }
  #blog-page .blog-sidebar {
    margin-top: 2.5em;
  }
  .blog-page__list {
    display: flex;
    flex-direction: column;
    gap: 7.5em;
    margin-top: 1em;
  }
    #blog-page .blog-sidebar .blog-header {
    color: white;
    text-align: center;
  }
  #blog-post .blog-sidebar .blog-header {
    text-align: center;
  }  
}
@media (min-width: 869px) {
  #blog-page .blog-page-snippet {
    margin: 3.5em 2em;
    max-width: 700px;
    -webkit-box-shadow: var(--neomorph);
  box-shadow: var(--neomorph);
  padding: 1.5em 1em;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  }
  .blog-page-snippet__image {
    width: 100%;
    object-fit: cover;
    max-height: 400px;
    border-radius: 15px;
  }
  .blog-page-snippet__title {
    font-size: 2.75rem;
    padding: 1em 0 .5em 0;
  }
  #blog-page .blog-sidebar {
    margin-top: 3em;
  }
  #blog-page .blog-sidebar .blog-header {
    color: white;
    text-align: center;
  }
  #blog-post .blog-sidebar .blog-header {
    text-align: center;
  }  
}
.blog-page-snippet__body {
  padding-bottom: 1.5em;
  font-size: 1.2rem;
}
.blog-page-snippet .cs-button-solid {
  font-size: .8rem;
  margin:0;
  padding: 1.25em 2em;
  line-height: 1rem;
}
#blog-page-author {
  font-size: .8rem;
  text-transform: uppercase;
}
.blog-page__list hr {
  border-color: var(--primary);
  margin-bottom: 2em;
}
#blog-page .blog-split {
  /* flex-direction: row-reverse; */
  justify-content: center;
}

.blog-feature-container {
  -webkit-box-shadow: var(--neomorph);
  box-shadow: var(--neomorph);
  padding: 1.5em 1em;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  transition: box-shadow 0.55s ease;
}

.blog-feature-container:hover {
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: rgba(0,0,0,0.03)

}
.blog-feature {
  text-decoration: none;
}
.blog-feature img {
  border-radius: 10px;
}
.feature-h3 {
  padding-top: .5em;
  font-weight: 600;
}
.feature-h3:hover {
  color: rgba(0,0,0,.5);
}
/* a .feature-h3:visited {
  color: black;
} */
