/* //////////////////////
  Homepage
  /////////////////////// */

.hero > div {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  align-items: center;
  gap: 1em;
}

@media (min-width: 45em) {
  .hero > div {
    grid-auto-flow: column;
  }
}

/* ################################################################ */

#index-container {
  color: white;
  position: relative;
  background-color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(1, 60, 132, 1) 0%,
    rgba(0, 149, 255, 1) 100%
  );
  z-index: 40;
  min-width: 100vw;
}

.cs-content-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.hero__content p {
  padding: 1em 0;
}
svg {
  z-index:-20;
}
@media (max-width: 868px) {
  .jumbo-hero__image {
    width: 60%;
    /* max-height: max(15rem, 40vh); */
    object-fit: cover;
    margin: auto;
  }
  .hero__image {
    width: 60%;
    /* max-height: max(15rem, 40vh); */
    object-fit: cover;
    margin: auto;
    border-radius: 50%;
    box-shadow: var(--neomorph);
    border: 1px solid rgba(0,0,0,.1);
  }
}
@media (min-width: 869px) {
  .jumbo-hero__image {
    width: 93%;
    /* max-height: max(15rem, 40vh); */
    object-fit: cover;
    margin-top: 5em;
  }
  .hero__image {
    width: 93%;
    /* max-height: max(15rem, 40vh); */
    object-fit: cover;
    margin-top: 5em;
    border-radius: 50%;
    width: 320px;
    box-shadow: var(--neomorph);
    border: 1px solid rgba(0,0,0,.1);
  }
}
