/* //////////////////////
  Homepage
  /////////////////////// */

.hero > div {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  align-items: center;
  gap: 1em;
}

@media (min-width: 45em) {
  .hero > div {
    grid-auto-flow: column;
  }
}

/* ################################################################ */

#index-container {
  color: white;
  position: relative;
  background-color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(1, 60, 132, 1) 0%,
    rgba(0, 149, 255, 1) 100%
  );
  z-index: 40;
  min-width: 100vw;
}

.cs-content-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.hero__content {
  /* height: 35em; */
  height: 60vh;
}
.hero__content p {
  padding: 1em 0;
  color: white;
  max-width: 600px;
}
svg {
  z-index:-1;
}
@media (max-width: 868px) {
  .jumbo-hero__image {
    width: 60%;
    /* max-height: max(15rem, 40vh); */
    object-fit: cover;
    margin: auto;
  }
  .hero__image {
    width: 60%;
    /* max-height: max(15rem, 40vh); */
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: inset  var(--neomorph);
    padding: 1.5em;
  }
}
@media (min-width: 869px) {
  .jumbo-hero__image {
    width: 93%;
    /* max-height: max(15rem, 40vh); */
    object-fit: cover;
    margin-top: 5em;
  }
  .hero__image {
    width: 93%;
    /* max-height: max(15rem, 40vh); */
    object-fit: cover;
    margin-top: 5em;
    border-radius: 50%;
    width: 320px;
    box-shadow: inset  var(--neomorph);
    /* border: 1px solid rgba(0,0,0,.1); */
    padding: 1.5em;
  }
  div:has(.hero__image) {
    padding: 2em;
  }
  .top-section-jumboless .cs-title-light {
    padding-top: auto;
  }
}
.jumbo-hero-index-container {
  background: rgb(255,252,208);
  background: radial-gradient(circle, rgba(255,252,208,1) 25%, rgba(255,251,224,2) 15%, rgba(255,255,242,.01) 66%);
  border-radius: 100%;
  z-index: 10;
}

